<div class="btn-group btn-centered">
                <div class="btn-group">
                                <button type="button" class="btn btn-danger" (click)="logout()"[disabled] = allowPointsDistribution>Выход</button>
                                <button type="button" class="btn btn-info" (click)="toMain()" [disabled] =allowPointsDistribution>В главное меню</button>
                                <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-info" disabled id="day">День: {{day}}</button>
                                        
                                                        
                                </div>
                        
                                        <button class="btn btn-success" id="confirm" (click)="confirmChanges()" [disabled]='!allowPointsDistribution' >Подтвердить изменения</button>  
                                        <div class="btn-group">
                                        <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        События
                                      </button>
                                      <div class="dropdown-menu scrollable" aria-labelledby="btnGroupDrop1">
                                                <a class="dropdown-item disabled word-breakable" >{{EventText}}<div class="dropdown-divider"></div></a>
                                        </div>
                                        </div>
                        
                </div>
                
                        
        <div class="btn-group" role="group">
                        <graph></graph>
        </div>
</div>
<div class="btn-group btn-centered">
                <specsDistribution [(specs)]="staff" [totalSpecs]="totalStaff" [(points)]="points" [apiService]="apiService" [day]="day" [(specsDistributed)] = "allowPointsDistribution" (specsDistributedEmitter) = "recieveBoolean($event)" [blockedDepartment]='blockedDepartment' [defaultSpecs]='defaultStaff' ></specsDistribution>
</div>
<table>
    <tr>
    <td colspan ='1' class="cell">
        <p class="tittle">Все истории</p>
        <p class="wip">Нет ограничений</p>
    </td>
    <td colspan="2" class="cell">
            <p class="tittle">Отдел аналитики</p>
            <p class="wip">Ограничение: {{limit[0]}}</p>
            <p *ngIf="staff['anal']['anal']!=0">Аналитиков: {{staff['anal']['anal']}}</p>
            <p *ngIf="staff['anal']['dev']!=0">Разработчиков: {{staff['anal']['dev']}}</p>
            <p *ngIf="staff['anal']['test']!=0">Тестеров: {{staff['anal']['test']}}</p>
            <p class="points" *ngIf="allowPointsDistribution">Очков:{{points['anal']}}</p>
    </td>
    <td colspan="2" class="cell">
            <p class="tittle">Отдел разработки</p>
            <p class="wip">Ограничение: {{limit[1]}}</p>
            <p *ngIf="staff['dev']['anal']!=0">Аналитиков: {{staff['dev']['anal']}}</p>
            <p *ngIf="staff['dev']['dev']!=0">Разработчиков: {{staff['dev']['dev']}}</p>
            <p *ngIf="staff['dev']['test']!=0">Тестеров: {{staff['dev']['test']}}</p>
            <p class="points" *ngIf="allowPointsDistribution">Очков:{{points['dev']}}</p>
    </td>
    <td class="cell">
            <p class="tittle">Отдел тестирования</p>
            <p class="wip">WIP limit: {{limit[2]}}</p>
            <p *ngIf="staff['test']['anal']!=0">Аналитиков: {{staff['test']['anal']}}</p>
            <p *ngIf="staff['test']['dev']!=0">Разработчиков: {{staff['test']['dev']}}</p>
            <p *ngIf="staff['test']['test']!=0">Тестеров: {{staff['test']['test']}}</p>
            <p class="points" *ngIf="allowPointsDistribution">Очков:{{points['test']}}</p>
    </td>
    <td class="cell">
            <p class="tittle">Готовы к выходу</p>
            <p class="wip" *ngIf="limit.length==3">Нет ограничений</p>
            <p class="wip" *ngIf="limit.length==4">Ограничение: {{limit[3]}}</p>
    </td>
    </tr>
    <tr>
        <td  *ngFor='let ec of expedice;let i = index' class="expedise column{{i}}">
                <div *ngIf='ec != null'>
                        <cardComponent [CardObject]='ec' [(points)]='points' [(canUpgrade)]='allowPointsDistribution' [canPull]= 'true' (moveEvent)="moveCard($event)" (pullEvent)="pullInCard($event)"></cardComponent>
                </div>
        </td>
    </tr>
    <tr class="cardColumns">
    <td *ngFor='let card of CardList; let i = index' class="column{{i}}">
        <cardComponent *ngFor ='let c of card; let j = index' [CardObject]='c' [(points)]='points' [(canUpgrade)]='allowPointsDistribution' [canPull]= 'canPull(i)' [upgradePriority]='upgradePriority(i)' (moveEvent)="moveCard($event)" (pullEvent)="pullInCard($event)" [priority]="pullPriority(i,j)"></cardComponent>
    </td>
    </tr>
</table>
