<button (click)="logout()">Logout</button>
<div class="btn-group btn-centered">
                <button type="button" class="btn btn-info" disabled id="day">Day: {{day}}</button>              
                <button class="btn btn-success" id="confirm" (click)="confirmChanges()" [disabled]='!allowPointsDistribution' >Confirm changes</button>  
                        
        <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Graph
                        </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        Тут будет график
                                </div>
                        </div>
</div>
<div class="btn-group btn-centered">
                <specsDistribution [(specs)]="staff" [totalSpecs]="totalStaff" [(points)]="points" [apiService]="apiService" [day]="day" [(specsDistributed)] = "allowPointsDistribution" (specsDistributedEmitter) = "recieveBoolean($event)"></specsDistribution>
</div>
<table>
    <tr>
    <td colspan ='1' class="cell">
        <p class="tittle">Selected</p>
        <p class="wip">No WIP limit</p>
    </td>
    <td colspan="2" class="cell">
            <p class="tittle">Analysis</p>
            <p class="wip">WIP limit: {{limit[0]}}</p>
            <p>Аналитиков: {{staff['anal']['anal']}}</p>
            <p>Разработчиков: {{staff['anal']['dev']}}</p>
            <p>Тестеров: {{staff['anal']['test']}}</p>
            <p class="points" *ngIf="points['anal'] != 0">Очков:{{points['anal']}}</p>
    </td>
    <td colspan="2" class="cell">
            <p class="tittle">Development</p>
            <p class="wip">WIP limit: {{limit[1]}}</p>
            <p>Аналитиков: {{staff['dev']['anal']}}</p>
            <p>Разработчиков: {{staff['dev']['dev']}}</p>
            <p>Тестеров: {{staff['dev']['test']}}</p>
            <p class="points" *ngIf="points['dev'] != 0">Очков:{{points['dev']}}</p>
    </td>
    <td class="cell">
            <p class="tittle">Testing</p>
            <p class="wip">WIP limit: {{limit[2]}}</p>
            <p>Аналитиков: {{staff['test']['anal']}}</p>
            <p>Разработчиков: {{staff['test']['dev']}}</p>
            <p>Тестеров: {{staff['test']['test']}}</p>
            <p class="points" *ngIf="points['test'] != 0">Очков:{{points['test']}}</p>
    </td>
    <td class="cell">
            <p class="tittle">Ready to Deploy</p>
            <p class="wip">No WIP limit</p>
    </td>
    <td class="cell">
            <p class="tittle">Deployed</p>
            <p class="wip">No WIP limit</p>
    </td>
    </tr>
    <tr>
        <td class="expedise"></td>
        <td class="expedise"></td>
        <td class="expedise"></td>
        <td class="expedise"></td>
        <td class="expedise"></td>
        <td class="expedise"></td>
        <td class="expedise"></td>
        <td class="expedise"></td>
    </tr>
    <tr class="cardColumns">
    <td *ngFor='let card of CardList; let i = index' class="column{{i}}">
        <cardComponent *ngFor ='let c of card' [CardObject]='c' [(points)]='points' [(canUpgrade)]='allowPointsDistribution' ></cardComponent>
    </td>
    </tr>
</table>
