<div class="centered">
<p>Your email: {{username}}</p>
<div class="btn-group">
<!-- <button class="btn btn-primary" (click)=toBrowser()>Table browser</button> -->
<div class="middle">
        <button class="btn btn-danger" type="button" (click)=logout()>logout</button>
        <button class="btn btn-primary" type="button" id="dropdownMenuButton" (click)=onSubmit()>Create table</button>
            <!-- <div class="dropdown-menu"><div class='dropdown-item'>
                <form [formGroup]="lobbyForm" (ngSubmit)=onSubmit()> -->
                    <!-- <div class="form-group">
                        <label for="lobbyName">Lobby name</label>
                        <input type="text" formControlName="lobbyName" class="form-control" />
                    </div> -->
                    <!-- <div class="form-group">
                        <label for="MaxPlayers">MaxPlayers</label>
                        <input type="number" min="2" formControlName="maxPlayers" class="form-control" >
                    </div> -->
                    <!-- <div class="form-group">
                        <button class="btn btn-primary">
                            Create
                        </button>
                    </div>
                </form>
            </div> -->
    </div>
</div>
</div>