<form [formGroup]="lobbyForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="lobbyName">Lobby name</label>
        <input type="text" formControlName="lobbyName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="MaxPlayers">MaxPlayers</label>
        <input type="number" min="2" formControlName="maxPlayers" class="form-control" >
    </div>
    <div class="form-group">
        <button class="btn btn-primary">
            Create
        </button>
    </div>
</form>