<div class="dropdown unselectable">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled] ="specsDistributed">
          Распределить сотрудников
        </button>
        <div class="dropdown-menu resize" aria-labelledby="dropdownMenu2">
          <table>
            <tr>
              <th></th>
              <th>Аналитика</th>
              <th>Разработка</th>
              <th>Тестирование</th>
              <th [ngClass]="haveFree?'red':''">Незанятые</th>
            </tr>
            <tr>
              <th>Аналитики</th>
              <td>
                <button class="btn btn-primary " (click)="add(-1,'anal','anal')" [disabled]='blockedDepartment[0]'>-</button>
                {{specs['anal']['anal']}}
                <button [ngClass]="(countFree('anal')>0)?'btn btn-success':'btn btn-primary'" (click)="add(1,'anal','anal')" [disabled]='blockedDepartment[0]'>+</button>
              </td>
              <td>
                  <button class="btn btn-primary" (click)="add(-1,'dev','anal')" [disabled]='blockedDepartment[1]' >-</button>
                  {{specs['dev']['anal']}}
                  <button [ngClass]="(countFree('anal')>0)?'btn btn-success':'btn btn-primary'" (click)="add(1,'dev','anal')" [disabled]='blockedDepartment[1]'>+</button>
              </td>
              <td>
                  <button class="btn btn-primary " (click)="add(-1,'test','anal')" [disabled]='blockedDepartment[2]'>-</button>
                  {{specs['test']['anal']}}
                  <button [ngClass]="(countFree('anal')>0)?'btn btn-success':'btn btn-primary'" (click)="add(1,'test','anal')" [disabled]='blockedDepartment[2]'>+</button>
              </td>
              <td [ngClass]="(countFree('anal')>0)?'red text-centered':' text-centered'" >
                {{countFree('anal')}}
              </td>
            </tr>
            <tr>
              <th>Разработчики</th>
              <td>
                <button class="btn btn-primary " (click)="add(-1,'anal','dev')" [disabled]='blockedDepartment[0]'>-</button>
                {{specs['anal']['dev']}}
                <button [ngClass]="(countFree('dev')>0)?'btn btn-success':'btn btn-primary'" (click)="add(1,'anal','dev')" [disabled]='blockedDepartment[0]'>+</button>
              </td>
              <td>
                  <button class="btn btn-primary " (click)="add(-1,'dev','dev')" [disabled]='blockedDepartment[1]'>-</button>
                  {{specs['dev']['dev']}}
                  <button [ngClass]="(countFree('dev')>0)?'btn btn-success':'btn btn-primary'" (click)="add(1,'dev','dev')" [disabled]='blockedDepartment[1]'>+</button>
              </td>
              <td>
                  <button class="btn btn-primary "(click)="add(-1,'test','dev')" [disabled]='blockedDepartment[2]'>-</button>
                  {{specs['test']['dev']}}
                  <button [ngClass]="(countFree('dev')>0)?'btn btn-success':'btn btn-primary'" (click)="add(1,'test','dev')" [disabled]='blockedDepartment[2]'>+</button>
              </td>
              <td [ngClass]="(countFree('dev')>0)?'red text-centered':' text-centered'" >
                  {{countFree('dev')}}
                </td>
              </tr>
              <tr>
                <th>Тестеры </th>
                <td>
                  <button class="btn btn-primary " (click)="add(-1,'anal','test')" [disabled]='blockedDepartment[0]'>-</button>
                  {{specs['anal']['test']}}
                  <button [ngClass]="(countFree('test')>0)?'btn btn-success':'btn btn-primary'" (click)="add(1,'anal','test')" [disabled]='blockedDepartment[0]'>+</button>
                </td>
                <td>
                    <button class="btn btn-primary " (click)="add(-1,'dev','test')" [disabled]='blockedDepartment[1]'>-</button>
                    {{specs['dev']['test']}}
                    <button [ngClass]="(countFree('test')>0)?'btn btn-success':'btn btn-primary'" (click)="add(1,'dev','test')" [disabled]='blockedDepartment[1]'>+</button>
                </td>
                <td>
                    <button class="btn btn-primary " (click)="add(-1,'test','test')" [disabled]='blockedDepartment[2]'>-</button>
                    {{specs['test']['test']}}
                    <button [ngClass]="(countFree('test')>0)?'btn btn-success':'btn btn-primary'" (click)="add(1,'test','test')" [disabled]='blockedDepartment[2]'>+</button>
                </td>
                <td [ngClass]="(countFree('test')>0)?'red text-centered':' text-centered'" >
                    {{countFree('test')}}
                  </td>
                </tr>
          </table>
          <div class = "btn-centered">
          <button class="btn btn-success" (click)="distributeSpecs()" [disabled]='haveFree'>Кинуть кубики</button>
        </div>
        </div>
    </div>