.btn-centered{
    display: flex;
    justify-content: center;
}

.text-centered{
    text-align: center;
}

/* .dropdown-menu{
    left: 50% !important;
    transform: translateX(-50%) !important;
    top: 100% !important;
} */

th{
    text-align: center;
}

#dropdownMenu2{
    width: 320px;
}